/*Fonts*/

@font-face {
    font-family: 'Gayathri';
    src: url(./fonts/gayathri/Gayathri-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



/* Pages */
html {
    scroll-behavior: smooth;

}
body {
  background: linear-gradient(180deg, #ECF0F1 34.13%, #C3D1CD 100%);
  color:rgb(28, 32, 32);
  font-family: 'Sansation', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
/* Background color */



.page {
  margin: 10px 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}
 p {
    font-size: 18px;
 }

hr {
    border-color: #B5DFD1;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hr-nav {
    color: #B5DFD1;
    background-color: #B5DFD1;
    height: 3px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* --------- Navigation --------- */
#nav {
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #3C493F;
}










/* --------- Home --------- */

#hook {
    background-image: url(components/clouds/intro_cloud.png);
    background-repeat: no-repeat;
    background-size: 80vw 200px;



    display: flex;
    align-items: left;
    justify-content: left;
    gap: 300px;

    text-align: left;
    list-style: none;

    font-family: 'Gayathri';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    padding: 20px;
    margin: 0 !important;
    box-sizing: border-box;
}



#hook-name > *:nth-child(1) { margin-left: 60px; }
#hook-name > *:nth-child(2) { margin-left: 100px; }
#hook-name > *:nth-child(3) { margin-left: 140px; }

#quote {
    padding-top: 20px;
}
#quote > *:nth-child(1) { margin-left: 40px; }
#quote > *:nth-child(2) { margin-left: 70px; }
#quote > *:nth-child(3) { margin-left: 100px; }


#intro {                                                                          background-color: #8AA4E4;
    height: 300px;          
    border-radius: 18px;                            
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    align-content: center;
    text-align: center;
    text-decoration: dotted;
    margin: 60px;
}

#intro h2{
    font-size: 40px;                                                                                                               
}








/* --- Small Cloud Segment --- */

.skill {
    background-image: url(components/clouds/small_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));

    width: 220px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    list-style: none;

    font-family: 'Gayathri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;

    padding: 20px;
    box-sizing: border-box;
}


/* --- Experience Segment --- */

.experience-block {
    background-color: #C6D5FB;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.experience-title {
    color: #3C493F;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.job {
    display: flex;
    flex-direction: column;
}



/* --------- Projects --------- */


.project-button button {
    background-color: #ffffff00;
    border: none;
}


.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000;
}


.image-modal {
    max-width: 90vw;
    max-height: 90vh;

    border-radius: 18px;

    box-shadow: 0 0 25px rgba(255,255,255,0.2);

    animation: zoomIn 0.40s ease;
}